@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

html *,
html ::before,
html ::after {
  box-sizing: inherit;
}

img {
  max-width: 100%;
  object-fit: contain;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;
}

.page-body-pink {
  background-color: #feafc3;
}

.page-body-blue {
  background-color: #69a9ff;
}

.page-body-yellow {
  background-color: #fcc850;
}

.main-container {
  flex-grow: 1;
}

.button {
  padding: 12px 32px;
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
}

.button-main {
  min-height: 44px;
  padding: 12px 32px;

  color: #2d3440;

  background-color: #fcfcfc;
}

.button-additional {
  color: #fcfcfc;

  background-color: #ff2f64;
}

.button-transparent {
  font-size: 14px;
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
}

.form-field {
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.form-field-title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  font-weight: 700;
  color: #2d3440;
}

.form-field-prompt {
  width: 14px;
  height: 14px;
  margin-left: 4px;
  border: none;

  background-color: #2d3440;
}

.form-field-input {
  width: 100%;
  height: 48px;
  padding: 14px 16px;
  border: 1px solid #b9b9b9;

  font-family: inherit;
  font-weight: 400;
  color: #2d3440;
}

.form-field-input::placeholder {
  color: #b9b9b9;
}

.page-header {
  display: flex;
  justify-content: space-between;
  padding: 24px 0;
}

.main-nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-grow: 1;
  min-width: 400px;
  margin-right: 20px;
}

.logo {
  flex-shrink: 0;
  margin-right: 16px;
}

.user-menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;
  width: 420px;
}

.user-menu-item:not(:last-child) {
  margin-right: 16px;
}

.contact-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;
}

.header-button {
  display: block;
  min-width: 32px;
  min-height: 32px;
  padding: 6px 16px;

  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
  text-decoration: none;

  background-color: rgba(252, 252, 252, 0.3);
}

.main-menu {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;

  list-style: none;
}

.main-menu a {
  display: block;
  padding: 8px 16px;

  color: #2d3440;
  text-decoration: none;
}

.slider {
  position: relative;

  margin-bottom: 80px;

  color: #2d3440;
}

.slider-item {
  display: flex;
  justify-content: flex-start;
  padding-left: 70px;
}

.slider-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 470px;
  padding-top: 136px;
}

.slider-title {
  margin-top: 0;
  margin-bottom: 24px;

  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-description {
  margin-top: 0;
  margin-bottom: 48px;

  font-size: 18px;
  line-height: 24px;
}

.toggler {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: flex-start;
  margin: 0;
  padding: 0;

  list-style: none;
}

.toggler-item {
  margin-right: 8px;
}

.toggler-button {
  width: 12px;
  height: 12px;
  border: none;

  background-color: #fcfcfc;
  cursor: pointer;
}

.social-list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  max-width: 195px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.social-item:not(:last-child) {
  margin-right: 16px;
}

.social-link {
  display: block;
  min-width: 24px;
  min-height: 24px;

  background-color: #fcfcfc;
}

.footer-social {
  margin-left: 4px;
}

.slider-social {
  position: absolute;
  right: 0;
  bottom: 0;
}

.slider-social .social-list {
  justify-content: flex-end;
}

.section-title {
  margin-top: 0;
  margin-bottom: 56px;

  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

.promo {
  margin-bottom: 80px;
}

.promo-title {
  text-align: center;
}

.promo-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.promo-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 40px 220px 40px 40px;
  border-radius: 16px;

  color: #2d3440;

  background-color: #ff7799;
  background-position: bottom right;
  background-repeat: no-repeat;
}

.promo-card-title {
  margin-top: 0;
  margin-bottom: 16px;

  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.promo-card-text {
  margin-bottom: 32px;
}

.promo-card-text p {
  margin: 0;
}

.promo-card-button {
  margin-top: auto;
}

.promo-card-rasberry {
  background-image: url("../img/bg-promo-raspberry.png");
}

.promo-card-marshmallow {
  background-image: url("../img/bg-promo-marshmallow.png");
}

.product {
  margin-bottom: 80px;
}

.product-title {
  text-align: center;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 30px;
}

.product-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 40px 24px;

  text-align: center;
}

.product-card-image-link {
  display: block;
  width: 168px;
  height: 168px;
  margin-bottom: 16px;
  border-radius: 50%;
  overflow: hidden;
}

.product-card-title {
  margin-top: 0;
  margin-bottom: 8px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
}

.product-card-title a {
  color: inherit;
  text-decoration: none;
}

.product-card-text {
  margin-top: 0;
  margin-bottom: 16px;
}

.product-card-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: auto;
}

.product-card-price {
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #2d3440;
}

.button-cart {
  width: 32px;
  height: 32px;
  margin-left: 10px;

  color: #fcfcfc;
  background-color: #ff2f64;
}

.about {
  margin-bottom: 80px;
  padding: 24px;
  border-radius: 16px;

  background-color: #ecdfc3;
  background-image: url("../img/bg-waffle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-title {
  margin-top: 0;
  margin-bottom: 56px;

  text-align: center;
}

.about-inner {
  padding: 56px 40px;
  border-radius: inherit;

  background-color: #fcfcfc;
}

.about-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;

  list-style: none;
}

.about-item {
  width: 505px;
  margin-right: 32px;
  margin-bottom: 40px;
  padding-left: 64px;
}

.about-item:nth-child(2n) {
  margin-right: 0;
}

.about-item:last-child,
.about-item:nth-last-child(2) {
  margin-bottom: 0;
}

.section-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  margin-bottom: 80px;
}

.blog-news {
  display: flex;
  flex-direction: column;
}

.news-card {
  flex-grow: 1;
  width: 100%;
  padding: 32px 235px 32px 32px;
  border-radius: 16px;

  background-color: #fcfcfc;
  background-image: url("../img/bg-blog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news-card-title {
  margin-top: 0;
  margin-bottom: 12px;

  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.news-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
}

.subscribe {
  padding: 6px;
  border-radius: 16px;

  background-image: url("../img/bg-subscrube.jpg");
  background-position: top left;
  background-repeat: repeat;
  background-size: 58px 67px;
}

.subscribe-inner {
  height: 100%;
  padding: 26px;
  border-radius: inherit;

  background-color: #fcfcfc;
}

.subscribe-description {
  margin-top: 0;
  margin-bottom: 42px;
}

.subscribe-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.subscribe-input {
  margin-right: 24px;
  flex-grow: 1;
}

.subscribe-submit {
  min-width: 152px;
}

.delivery {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 64px 64px 64px 100px;
  margin-bottom: 80px;
  border-radius: 16px;

  background-image: url("../img/bg-delivery.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.delivery-content {
  width: 375px;
  padding-top: 103px;
}

.delivery-inner {
  width: 500px;
  padding: 40px;
  border-radius: 8px;

  background-color: #fcfcfc;
}

.delivery-title {
  margin-top: 0;
  margin-bottom: 24px;
}

.delivery-description {
  margin-top: 0;
  margin-bottom: 32px;
}

.delivery-form {
  display: grid;
  grid-template-columns: 117px 287px;
  gap: 20px 16px;
}

.delivery-form-address {
  margin-bottom: 12px;
  grid-column: 1 / -1;
}

.delivery-submit {
  grid-column: 1 / -1;
  justify-self: center;
}

.contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 64px;
  border-radius: 16px;

  background-image: url("../img/bg-contacts.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-card {
  width: 343px;
  padding: 40px;
  border-radius: 8px;

  background-color: #fcfcfc;
}

.contacts-information {
  margin-top: 0;
  margin-bottom: 32px;
}

.contacts-information dt {
  display: block;
  margin-bottom: 12px;
}

.contacts-information dd {
  display: block;
  margin-left: 0;
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  text-decoration: none;
}

.contacts-information dd:last-of-type {
  margin-bottom: 0;
}

.contacts-phone-link {
  color: inherit;
  text-decoration: none;
}

.contacts-phone-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

.social-link {
  color: #fcfcfc;
}

.main-footer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-height: 153px;
  padding-top: 48px;
  padding-bottom: 48px;
}

.footer-social {
  width: 195px;
  margin-left: 4px;
  margin-right: 208px;
}

.footer-links {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  gap: 8px 0;
  width: 360px;
}

.footer-link {
  padding-left: 24px;

  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  color: #2d3440;
}

.footer-link-heart {
  font-weight: 700;
}

.creator {
  width: 195px;
  margin-left: auto;
  margin-right: 14px;
}

.creator {
  color: #2d3440;
}

.creator-logo {
  display: block;
  margin-bottom: 14px;
}

.creator-text {
  margin: 0;

  font-size: 12px;
  line-height: 16px;
}

.creator-link {
  color: inherit;
}

.main-header {
  padding: 32px 0 40px;
}

.breadcrumbs-list {
  display: flex;
  justify-content: flex-start;
  width: 300px;
  margin: 0;
  margin-bottom: 16px;
  padding: 0;

  list-style: none;
}

.breadcrumbs-item {
  padding-right: 28px;
}

.breadcrumbs-item:last-child {
  padding-right: 0;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.breadcrumbs-link[aria-current="page"] {
  text-decoration: none;
}

.page-title {
  margin: 0;
}

.filter-form {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  margin-bottom: 32px;
}

.select-field {
  font-family: inherit;
}

.filter-group {
  margin-left: 0;
  margin-right: 24px;
  margin-bottom: 16px;
  padding: 0;
  border: none;
}

.filter-group-caption {
  display: block;
  margin-bottom: 8px;
  padding-left: 16px;
  padding-right: 0;
}

.filter-group-caption,
.radio-label,
.checkbox-label {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.filter-group-inner {
  display: flex;
  align-items: center;
  min-height: 36px;
  padding: 7px 16px;

  background-color: rgba(252, 252, 252, 0.3);
}

.select-input {
  min-width: 196px;
}

.field-range-input {
  width: 25px;
  border: none;
  background: none;
  appearance: none;
}

.field-range-input::-webkit-outer-spin-button,
.field-range-input::-webkit-inner-spin-button {
	display: none;
}

.range-input {
  min-width: 196px;
}

.filter-radio:not(:last-child),
.filter-checkbox:not(:last-child) {
  margin-right: 16px;
}

.radio-input,
.checkbox-input {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.radio-label,
.checkbox-label {
  padding-left: 24px;
}

.filter-submit {
  min-width: 187px;
  height: 36px;
  margin-bottom: 16px;
  padding: 8px 32px;
  align-self: flex-end;

  line-height: 20px;
}

.catalog {
  margin-bottom: 81px;
}

.catalog-list {
  margin-bottom: 17px;
}

.catalog-actions {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  align-items: center;
}

.catalog-show-more {
  grid-column: 2 / 3;
  justify-self: center;
}

.pagination {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
  grid-column: 3 / -1;
  margin: 0;
  padding: 0;

  list-style: none;
}

.pagination-link {
  display: block;
  min-width: 24px;
  height: 24px;
  padding: 2px 8px;
  color: #2d3440;
  text-decoration: none;
}

.pagination-link:hover {
  box-shadow:  0 0 0 1px #fcfcfc inset;
  background-color: rgba(252, 252, 252, 0.3);
}

.pagination-link:active,
.pagination-link:focus {
  box-shadow:  0 0 0 1px #2d3440 inset;
  background-color: rgba(252, 252, 252, 0.3);
}

.pagination-link-start {
  margin-right: 12px;
}

.pagination-link-end {
  margin-left: 12px;
}

.pagination-link[aria-current="page"] {
  background-color: #fcfcfc;
}

.pagination-link-disable {
  opacity: 0.2;
  pointer-events: none;
}
