@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 700;
  src: url("../fonts/inter-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-weight: 900;
  src: url("../fonts/inter-900.woff2") format("woff2");
  font-display: swap;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.page-body {
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #565c66;

  background-color: #feafc3;
}

.button {
  border: none;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-align: center;

  cursor: pointer;
}

.button-main {
  color: #2d3440;

  background-color: #fcfcfc;
}

.button-additional {
  color: #fcfcfc;

  background-color: #ff2f64;
}

.button-transparent {
  font-size: 14px;
  color: #2d3440;
  background-color: rgba(252, 252, 252, 0.3);
}

.form-field {
  font-size: 16px;
  line-height: 20px;
  color: #2d3440;
}

.form-field-title {
  font-weight: 700;
  color: #2d3440;
}

.form-field-input {
  font-family: inherit;
  font-weight: 400;
  color: #2d3440;
}

.form-field-input::placeholder {
  color: #b9b9b9;
}

.contact-phone {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  color: #2d3440;
}

.header-button {
  font-size: 14px;
  color: #2d3440;
  text-decoration: none;

  background-color: rgba(252, 252, 252, 0.3);
}

.main-menu a {
  color: #2d3440;
  text-decoration: none;
}

.slider {
  color: #2d3440;
}

.slider-title {
  font-weight: 900;
  font-size: 36px;
  line-height: 46px;
}

.slider-description {
  font-size: 18px;
  line-height: 24px;
}

.page-title,
.section-title {
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
  color: #2d3440;
}

.promo-title,
.product-title,
.about-title {
  text-align: center;
}

.promo-card {
  color: #2d3440;

  background-color: #ff7799;
  background-position: center center;
  background-repeat: no-repeat;
}

.promo-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
}

.promo-card-rasberry {
  background-image: url("../img/bg-promo-raspberry.png");
}

.promo-card-marshmallow {
  background-image: url("../img/bg-promo-marshmallow.png");
}

.product-card {
  text-align: center;
}

.product-card-image-link {
  display: inline-block;
  vertical-align: middle;
  border-radius: 50%;
  overflow: hidden;
}

.product-card-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  color: #2d3440;
}

.product-card-title a {
  color: inherit;
  text-decoration: inherit;
}

.product-card-price {
  font-size: 20px;
  line-height: 24px;
  text-align: left;
  color: #2d3440;
}

.button-cart {
  color: #fcfcfc;
  background-color: #ff2f64;
}

.about {
  padding: 24px;

  background-color: #ecdfc3;
  background-image: url("../img/bg-waffle.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about-inner {
  background-color: #fcfcfc;
}

.news-card {
  background-color: #fcfcfc;
  background-image: url("../img/bg-blog.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.news-card-title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.news-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #2d3440;
  text-decoration: none;
}

.subscribe {
  padding: 6px;

  background-image: url("../img/bg-subscrube.jpg");
  background-position: top left;
  background-repeat: repeat;
  background-size: 58px 67px;
}

.subscribe-inner {
  background-color: #fcfcfc;
}

.delivery {
  background-image: url("../img/bg-delivery.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.delivery-inner {
  background-color: #fcfcfc;
}

.contacts {
  background-image: url("../img/bg-contacts.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.contacts-card {
  background-color: #fcfcfc;
}

.contacts-card dd {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #2d3440;
  text-decoration: none;
}

.contacts-phone-link {
  color: inherit;
}

.contacts-phone-description {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #565c66;
}

.social-link {
  color: #fcfcfc;
}

.footer-link {
  font-size: 14px;
  line-height: 20px;
  color: inherit;
  text-decoration: none;
  color: #2d3440;
}

.footer-link-heart {
  font-weight: 700;
}

.creator {
  color: #2d3440;
}

.creator-text {
  font-size: 12px;
  line-height: 16px;
}

.creator-link {
  color: inherit;
}

.breadcrumbs-link {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  color: inherit;
}

.breadcrumbs-link[aria-current="page"] {
  text-decoration: none;
}

.select-field {
  font-family: inherit;
}

.filter-group-caption,
.radio-button-label,
.checkbox-label {
  font-size: 14px;
  line-height: 20px;
  color: #2d3440;
}

.filter-group-inner {
  background-color: rgba(252, 252, 252, 0.3);
}

.field-range-input {
  border: none;
  background: none;
  appearance: text;
}

.field-range-input::-webkit-outer-spin-button,
.field-range-input::-webkit-inner-spin-button {
	display: none;
}

.pagination-link {
  color: #2d3440;
  text-decoration: none;
}

.pagination-link[aria-current="page"] {
  background-color: #fcfcfc;
}

.pagination-link-disable {
  opacity: 0.2;
}
